@use 'base.scss';
@use 'module.scss';
@use 'utilities.scss';

@media (min-width: 600px) {
    input[type='text'] {
        width: 80%;
    }

    .card-image {
        width: 20%;
    }
}

@media (min-width: 1200px) {
    .container {
        margin: 16px auto;
    }

    .card-image {
        width: 12.5%;
    }

    .card-image--stats {
        width: 10%;
    }
}

@media (max-width: 368px) {
    h1 {
        font-size: 33px;
    }

    h2 {
        font-size: 25px;
    }

    .stats-text {
        font-size: 16px;
    }
}
