@use 'base.scss';
@use 'module.scss';
@use 'utilities.scss';

@media (min-width: 600px) {
    input[type='text'] {
        width: 80%;
    }

    .deck-image {
        width: 20%;
    }
}

@media (min-width: 1200px) {
    .container {
        margin: 16px auto;
    }

    .decks-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .deck-container {
        width: 49%;
    }

    .deck-image {
        width: 12.5%;
    }
}
