@use 'base.scss';
@use 'module.scss';
@use 'utilities.scss';

@media (min-width: 600px) {
    .deck-image {
        width: 20%;
    }
}

@media (min-width: 1200px) {
    .container {
        margin: 16px auto;
    }

    .deck-image {
        width: 12.5%;
    }
}
