@use 'variables.scss' as *;

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.d-inline-block {
    display: inline-block;
}

.t-center {
    text-align: center;
}

.t-right {
    text-align: right;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.my-2 {
    margin-top: $space-2;
    margin-bottom: $space-2;
}

.mt-1 {
    margin-top: $space-1;
}

.mt-2 {
    margin-top: $space-2;
}

.mr-1 {
    margin-right: $space-1;
}

.mb-1 {
    margin-bottom: $space-1;
}

.mb-2 {
    margin-bottom: $space-2;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-2 {
    font-size: 20px;
}

.font-weight-700 {
    font-weight: 700;
}

.color-white {
    color: #ffffff;
}

.color-light-red {
    color: $light-red;
}

.bg-green {
    background-color: $green;
}

.bg-red {
    background-color: $red;
}

.bg-light-red {
    background-color: $light-red;
}

.fill-red {
    fill: $red;
}

.cursor-pointer {
    cursor: pointer;
}
