@use 'variables.scss' as *;

.d-none {
    display: none;
}

.t-center {
    text-align: center;
}

.t-right {
    text-align: right;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.my-2 {
    margin-top: $space-2;
    margin-bottom: $space-2;
}

.mt-1 {
    margin-top: $space-1;
}

.mt-2 {
    margin-top: $space-2;
}

.mr-1 {
    margin-right: $space-1;
}

.mb-2 {
    margin-bottom: $space-2;
}

.font-size-2 {
    font-size: 20px;
}

.color-white {
    color: #ffffff;
}

.color-light-red {
    color: $light-red;
}

.bg-green {
    background-color: $green;
}
